
    .dropdown-container-slidemorph {
  width: 300px;
  overflow: hidden;
  min-width: 0;
  max-width: none;
  transition: width .3s ease-in-out, height .3s ease-in-out;
}
.dropdown-container-slidemorph .dropdown-menu {
  min-width: auto;
  padding: 3px 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.dropdown-container-slidemorph > .dropdown-menu > .dropdown-submenu {
  position: static;
}
.dropdown-container-slidemorph > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
  display: block;
  top: -3px;
  right: 0;
  left: auto;
  border: 0;
  transform: translate(100%, 0);
  transition: transform .3s ease-in-out;
}
.dropdown-container-slidemorph > .dropdown-menu > .dropdown-submenu.open > ul {
  visibility: visible;
  transform: translate(0, 0);
}
.dropdown-container-slidemorph .dropdown-submenu > a:after {
  top: 50%;
  right: 20px;
  margin: -4px 0 0 0;
  position: absolute;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e080";
  font-size: 9.6px;
  color: #777777;
}
.dropdown-backlink {
  border-bottom: 1px solid #e5e5e5;
}
.dropdown-backlink > a {
  position: relative;
  white-space: nowrap!important;
}
.dropdown-backlink > a:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -4px 4px 0 0;
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e079" !important;
  font-size: 9.6px;
  color: #777777 !important;
  width: 14px;
}

.btn-link,
.btn-link:hover,
.btn-link:focus, 
.btn-link:active {
  color: #fff;
  text-decoration: none;
}
/* General styles to improve presentation */
html, body {
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #4475a1 0, #364181 100%);
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  padding:0;
  margin:0;
  color: #fff;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.dropdown {
  margin-top: -150px;
  margin-left: -20px;
}
